<!--The whole content below can be removed with the new code.-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 sidebar" id="menu">
      <header>
        <div id="menu-titulo">
          <h1>Code Guilherme</h1>
          <h2><i>Aprendendo na Prática</i></h2>
        </div>
        <nav class="navbar navbar-inverse navbar-toggleable-sm" id="menu-links">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu-links-interno">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand hidden-md-up" href="#">menu</a>
          <div class="navbar-collapse collapse" id="menu-links-interno">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#sobre-mim">Sobre mim</a>
              <a class="nav-item nav-link" href="#artigos">artigos</a>
              <a class="nav-item nav-link" href="#contato">contato</a>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <div class="col-md-8 offset-md-4" id="conteudo">
      <article id="sobre-mim" class="row">
        <div class="col-md-12">
          <h1>Sobre mim</h1>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis non erat ut auctor. Pellentesque sit amet leo ut ante venenatis tempus. Duis elementum massa nec orci vulputate, at pretium orci viverra. Morbi semper turpis est, quis imperdiet tortor pretium id. Morbi venenatis eget nisl ac rutrum. Donec sollicitudin, dui at dignissim dignissim, magna justo luctus sapien, eu aliquam ante magna tempus risus. Maecenas vitae condimentum purus. Proin vitae ex euismod, sodales risus eu, faucibus mauris. Vivamus tincidunt leo augue, vitae sollicitudin risus aliquet a. Duis ac est quis est lobortis semper. Phasellus vitae eros viverra, placerat sem vitae, iaculis lectus. Ut massa risus, vehicula ac accumsan eu, fringilla sed dui.
          </div>
        </div>
      </article>
      <section id="artigos" class="row">
        <div class="col-md-6">
          <div class="p-3"></div>
          <article class="card artigo">
            <div class="card-block">
              <h2 class="card-title">Artigo 1</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut est pulvinar, fermentum dui non, vestibulum magna. Suspendisse a justo vel lorem commodo mollis. Suspendisse dictum, lacus vel accumsan ultrices, orci sapien faucibus magna, sit amet tincidunt elit sem pretium mauris. Quisque semper, lectus vitae mattis rhoncus, arcu erat laoreet sem, et tincidunt tellus felis sit amet arcu. Vivamus dictum sodales condimentum. Aliquam lobortis sapien ut fringilla pretium. Ut quis augue sed dolor euismod malesuada in ullamcorper risus.</p>
              <button class="btn btn-primary">ler mais</button>
            </div>
          </article>
        </div>
        <div class="col-md-6">
          <div class="p-3"></div>
          <article class="card artigo">
            <div class="card-block">
              <h2 class="card-title">Artigo 2</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut est pulvinar, fermentum dui non, vestibulum magna. Suspendisse a justo vel lorem commodo mollis. Suspendisse dictum, lacus vel accumsan ultrices, orci sapien faucibus magna, sit amet tincidunt elit sem pretium mauris. Quisque semper, lectus vitae mattis rhoncus, arcu erat laoreet sem, et tincidunt tellus felis sit amet arcu. Vivamus dictum sodales condimentum. Aliquam lobortis sapien ut fringilla pretium. Ut quis augue sed dolor euismod malesuada in ullamcorper risus.</p>
              <button class="btn btn-primary">ler mais</button>
            </div>
          </article>
        </div>
      </section>
      <app-contato></app-contato>
    </div>
  </div>
</div>