<div class="col-md-8 offset-md-4" id="conteudo">
      <article id="sobre-mim" class="row">
        <div class="col-md-12">
          <h1>Sobre mim</h1>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis non erat ut auctor. Pellentesque sit amet leo ut ante venenatis tempus. Duis elementum massa nec orci vulputate, at pretium orci viverra. Morbi semper turpis est, quis imperdiet tortor pretium id. Morbi venenatis eget nisl ac rutrum. Donec sollicitudin, dui at dignissim dignissim, magna justo luctus sapien, eu aliquam ante magna tempus risus. Maecenas vitae condimentum purus. Proin vitae ex euismod, sodales risus eu, faucibus mauris. Vivamus tincidunt leo augue, vitae sollicitudin risus aliquet a. Duis ac est quis est lobortis semper. Phasellus vitae eros viverra, placerat sem vitae, iaculis lectus. Ut massa risus, vehicula ac accumsan eu, fringilla sed dui.
          </div>
        </div>
      </article>
      <section id="artigos" class="row">
        <div class="col-md-6" *ngFor="let artigo of artigos;">
          <div class="p-3"></div>
          <article class="card artigo">
            <div class="card-block">
              <h2 class="card-title">{{artigo.titulo}}</h2>
              <p class="card-text">{{artigo.resumo}}</p>
              <a class="btn btn-primary" [routerLink]="['/artigo', artigo.id]">ler mais</a>
            </div>
          </article>
        </div>
      </section>
      <app-contato></app-contato>
    </div>